.container-alert{
    width: 400px;
    height: 200px;
    background: white;
    padding: 10px;

    border-radius: 10px;
    text-align: center;

    animation: animation 0.7s ease-out;
    animation-fill-mode: forwards;

    -webkit-animation-fill-mode: forwards;
    -moz-animation: animation 0.7s ease-out;
    -webkit-animation: animation 0.7s ease-out;
    -o-animation: animation 0.7s ease-out;
    
    position: absolute;

    top: 50%;
    left: 50%; 
    transform: translateX(-50%) translateY(-50%);

    .clear-icon{
        right: 10;
        cursor: pointer;
    }
    &__title{
        font-size: 20px;
        margin-top: 20px;
    }
    &__content{
        margin-top: 20px;
        font-weight: 500;
        font-size: 12px;
    }
    &__btn{
        margin-top: 10px;
        button{
            color: white;
            border: none;
            cursor: pointer;
            outline: none;
            border: 1px solid transparent;
            border-radius: 5px;
            margin: 10px;
            min-width: 130px;
            min-height: 40px;
        }
        &--cancel{
            background: #ccc;
            &:hover{
                background-color: white;
                color: black;
                border-color: #ccc;
            }   
        }
        &--accept{
            background: blue;
            &:hover{
                background-color: white;
                color: black;
                border-color: blue;
            }   
        }
    }
}
@keyframes animation{
    from { 
        top: 0%;
    }
    to { 
        top: 50%;
    }   
}

@-moz-keyframes animation {
    from { 
        top: 0%;
    }
    to { 
        top: 50%;
    }   
}

@-webkit-keyframes animation {
    from { 
        top: 0%;
    }
    to { 
        top: 50%;
    }   
}

